{
  "log": {
    "loglevel": "info",
    "access": "/etc/vpns/v2ray/logs/v2ray-access.log",
    "error": "/etc/vpns/v2ray/logs/v2ray-error.log"
  },
  "stats": {},
  "api": {
    "tag": "api",
    "services": [
      "StatsService"
    ]
  },
  "policy": {
    "levels": {
      "0": {
        "statsUserUplink": true,
        "statsUserDownlink": true
      }
    }
  },
  "dns": {
    "nameServer": [
      "{{ dns | default('1.1.1.1') }}"
    ]
  },
  "inbounds": [
    {
      "listen": "0.0.0.0",
      "port": {{ v2ray_port | default("443") }},
      "protocol": "trojan",
      "settings": {
        "clients": []
      },
      "streamSettings": {
        "network": "tcp",
        "security": "tls",
        "tlsSettings": {
          "serverName": "{{ server_addr }}",
          "alpn": [
            "h2",
            "http/1.1"
          ],
          "certificates": [
            {{ v2ray_tls_cert }}
          ]
        }
      }
    },
    {
      "listen": "127.0.0.1",
      "port": {{ dokodemo_port | default("10085") }},
      "protocol": "dokodemo-door",
      "settings": {
        "address": "127.0.0.1"
      },
      "tag": "api"
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct"
    }
  ],
  "routing": {
    "rules": [
      {
        "inboundTag": [
          "api"
        ],
        "outboundTag": "api",
        "type": "field"
      }
    ]
  }
}

