---
title: AnyConnect
type: docs
---

# AnyConnect

1. Install the android **Cisco AnyConnect** app from Google PlayStore. Click on the button below and it will take you to its Google Play Store page.

[**Link to Cisco AnyConnect's GooglePlay Store page**](https://play.google.com/store/apps/details?id=com.cisco.anyconnect.vpn.android.avf&hl=en&gl=US)

{{ '{{<' }} button href="https://play.google.com/store/apps/details?id=com.cisco.anyconnect.vpn.android.avf&hl=en&gl=US" {{ '>}}' }}**Download Cisco AnyConnect from Google Play Store**{{ '{{<' }} /button {{ '>}}' }}

2. Download your certificate file by clicking the button below:

{{ '{{<' }} button href="/{{item}}/{{item}}-Certificate-Android.p12" {{ '>}}' }}**Download client .P12 certificate file**{{ '{{<' }} /button {{ '>}}' }}

3. Launch the app.

4. Click on **OK** to close the intial terms of service notice.

![AnyConnect-01](/images/anyconnect-01.png)

5. Grant it the relevant permissions (Access to your **notifications**, in this case).

![AnyConnect-02](/images/anyconnect-02.png)

6. Click on the menu button on top right corner and go to **“Settings”**.

![AnyConnect-03](/images/anyconnect-03.png)

7. Uncheck the second option that says **“Block Untrusted Servers”**.

![AnyConnect-04](/images/anyconnect-04.png)

8. Click on the arrow icon on top left corner to go back to the home menu of the app.

9. In the middle of the screen, click on **“Connections”**.

![AnyConnect-05](/images/anyconnect-05.png)

10. Click on the + icon at the bottom of the screen.

![AnyConnect-06](/images/anyconnect-06.png)

11. In the next window:

	1. Enter any name you want.

	2. Enter the following server address and port: **{{ ansible_all_ipv4_addresses[0] }}:{{ ocserv_port | default(4430) }}**

	3. Once you entered the server address, click on “Advanced Preferences”.

![AnyConnect-07](/images/anyconnect-07.png)

12. Click on the first option that says **“Certificate”**.

![AnyConnect-08](/images/anyconnect-08.png)

13. Click on the **“Import”** button at the bottom of the screeen.

![AnyConnect-09](/images/anyconnect-09.png)

14. Click on **“File System”**. It should open your file browser app.

![AnyConnect-10](/images/anyconnect-10.png)

15. Find the **.p12 certificate** file that you downloaded in step 2.

![AnyConnect-11](/images/anyconnect-11.png)

16. It will ask for a password. The password is: **{{ item }}**

![AnyConnect-12](/images/anyconnect-12.png)

17. Once the certificate is imported, click on it.

![AnyConnect-13](/images/anyconnect-13.png)

18. Click on **“Done”** at the bottom of the screen, and click on **“Done”** again.

![AnyConnect-14](/images/anyconnect-14.png)
![AnyConnect-15](/images/anyconnect-15.png)

19. Click on the arrow icon at the top left corner.

![AnyConnect-16](/images/anyconnect-16.png)

20. **Turn on** the VPN by clicking on the VPN toggle.

![AnyConnect-17](/images/anyconnect-18.png)

21. Click on **“Continue”**.

![AnyConnect-18](/images/anyconnect-17.png)

22. And that's it! You can check your IP location to ensure that you are connected to the VPN and it's working properly.

![AnyConnect-19](/images/anyconnect-19.png)