---
title: AnyConnect
type: docs
---

# AnyConnect

1. Install the android **Cisco AnyConnect** app from Google PlayStore. Click on the button below and it will take you to its Google Play Store page.

https://play.google.com/store/apps/details?id=com.cisco.anyconnect.vpn.android.avf&hl=en&gl=US

2. Download your certificate file by clicking the button below:

{{< button href="/{{item}}-User-Certificate.pem" >}}Download AnyConnect Certificate{{< /button >}}

3. Launch the app.

4. Click on **OK** to close the intial terms of service notice.

!(/img/anyconnect-01.png)

5. Grant it the relevant permissions (Access to your **notifications**, in this case).

!(/img/anyconnect-02.png)

6. Click on the menu button on top right corner and go to **“Settings”**.

!(/img/anyconnect-03.png)

7. Uncheck the second option that says **“Block Untrusted Servers”**.

!(/img/anyconnect-04.png)

8. Click on the arrow icon on top left corner to go back to the home menu of the app.

9. In the middle of the screen, click on **“Connections”**.

!(/img/anyconnect-05.png)

10. Click on the + icon at the bottom of the screen.

!(/img/anyconnect-06.png)

11. In the next window:

	1. Enter any name you want.

	2. Enter the following server address and port: {{ ansible_all_ipv4_addresses[0] }}:{{ ocserv_port | default(4430) }}

	3. Once you entered the server address, click on “Advanced Preferences”.

!(/img/anyconnect-07.png)

12. Click on the first option that says **“Certificate”**.

!(/img/anyconnect-08.png)

13. Click on the **“Import”** button at the bottom of the screeen.

!(/img/anyconnect-09.png)

14. Click on **“File System”**. It should open your file browser app.

!(/img/anyconnect-10.png)

15. Find the **.p12 certificate** file that you downloaded in step 2.

!(/img/anyconnect-11.png)

16. It will ask for a password. **The password is**: [TO BE DECIDED]

!(/img/anyconnect-12.png)

17. Once the certificate is imported, click on it.

!(/img/anyconnect-13.png)

18. Click on **“Done”** at the bottom of the screen, and click on **“Done”** again.

!(/img/anyconnect-14.png)
!(/img/anyconnect-15.png)

19. Click on the arrow icon at the top left corner.

!(/img/anyconnect-16.png)

20. **Turn on** the VPN by clicking on the VPN toggle.

!(/img/anyconnect-18.png)

21. Click on **“Continue”**.

!(/img/anyconnect-17.png)

And that’s it!

!(/img/anyconnect-19.png)