---
title: NekoRay (V2Ray)
type: docs
---

# نِکو رِی (NekoRay)

در این آموزش یاد خواهید گرفت که چگونه از اپلیکیشن نِکو رِی در ویندوز استفاده کنید.

اپلیکیشن نِکو رِی از پروتکل‌های زیادی پشتیبانی می‌کند، و از این اپلیکیشن برای اتصال به پروتکل‌های اصلی‌مان در ویندوز استفاده خواهیم کرد. پروتکل‌هایی که مورد استفاده قرار خواهند گرفت عبارتند از: VLess، VMess و Trojan.

## نحوه نصب و استفاده از نِکو رِی:

۱. روی دکمه زیر کلیک کنید تا به صفحه گیت‌هاب NekoRay بروید. بر لینکی که در اسکرین شات زیر دور آن خط کشیده شده است کلیک کنید. برنامه نیاز به نصب کردن ندارد و فقط کافیست آن را در جایی در ویندوز استخراج کنید. (فرقی ندارد در کجای ویندوز، ولی ترجیحاً جایی که قابل پیدا کردن باشد.)

{{ '{{<' }} button href="https://github.com/MatsuriDayo/nekoray/releases" {{ '>}}' }}**صفحه گیت‌هاب نِکو رِی**{{ '{{<' }} /button {{ '>}}' }}

![Nekoray-01](/images/nekoray-12.png)

۲. به جایی که برنامه را استخراج کردید بروید و فایل **nekoray** را اجرا کنید. (به صورت Run as Administrator)

![Nekoray-02](/images/nekoray-13.png)

۳. روی دکمه **sing-box** کلیک کنید.

![Nekoray-03](/images/nekoray-1.png)

۴. صفحه اصلی برنامه برای شما باز خواهد شد. روی دکمه **Program** در بالا سمت چپ کلیک کنید.

![Nekoray-04](/images/nekoray-2.png)

۵. روی **Remember my last profile** کلیک کنید.

![Nekoray-05](/images/nekoray-3.png)

۶. لینک پروتکل مورد نظرتان را از باکس پایین کپی کنید و بار دیگر روی دکمه **Program** کلیک کنید. این بار، گزینه **Add profile from clipboard** را انتخاب کنید.

{{ '{{<' }} hint info {{ '>}}' }}
{% if users[item].vless is defined %}
`{{ users[item].vless }}`
{% endif %}

{% if users[item].vmess is defined %}
`{{ users[item].vmess }}`
{% endif %}

{% if users[item].trojan is defined %}
`{{ users[item].trojan }}`
{% endif %}
{{ '{{<' }} /hint {{ '>}}' }}

![Nekoray-06](/images/nekoray-4.png)

۷. با انجام قدم قبلی، در لیست VPNهای برنامه، آن که کپی کرده بودید ظاهر می‌شود. روی آن کلیک راست کنید و **Start** را انتخاب کنید (یا پس از انتخاب آن، کلید Enter را فشار دهید.)

![Nekoray-07](/images/nekoray-6.png)

۸. پس از انجام قدم قبلی، یک تیک کنار پروفایل VPN ظاهر می‌شود و متن آن آبی می‌شود. اگر چند پروفایل دارید، قدم قبلی را روی آن‌ها اجرا کنید.

۹. برای استفاده از VPN و دسترسی به اینترنت، باید روی یکی از دو گزینه System Proxy**** یا **Tun mode** کلیک کنید. تیک گزینه **Tun mode** را فعال کنید تا تمام ترافیک سیستم از بتواند از VPN استفاده کند.

![Nekoray-08](/images/nekoray-7.png)

۱۰. پس از روشن کردن حالت Tun Mode، نقطه قرمزی روی آیکون نِکو رِی در پایین سمت راست ویندوز (آیکون Tray) ظاهر می‌شود که به معنی روشن بودن این حالت است.

![Nekoray-09](/images/nekoray-11.png)

۱۱. برای خاموش کردن VPN، تنها کافیست تیک گزینه **Tun mode** را بردارید. حتماً پس از **اتمام استفاده‌تان** از VPN آن را خاموش کنید. **در حین فعال بودن VPN، برنامه را نبندید و سیستم را خاموش نکنید.**

۱۲. تمام! حال به VPN وصل شده‌اید. می‌توانید با استفاده از سایت‌های بررسی IP، لوکیشن خود را بررسی و از اتصال به VPN اطمینان حاصل کنید.

## سایر نکات

۱. می‌توان برنامه را از طریق آیکون **Tray** نیز خاموش و روشن کرد. روی آیکون آن در گوشه پایین سمت راست کلیک راست کنید و در قسمت **System proxy**، حالت مورد نظرتان را انتخاب کنید. (همان کاری که در قدم شماره 9 انجام دادید.)

![Nekoray-10](/images/nekoray-8.png)

۲. حالت **System Proxy**، به صورت پروکسی برای شما VPN را فعال می‌کند. به این صورت که تنها اپلیکیشن‌های تحت وب و مرورگرها قابلیت استفاده از آن را دارند و روی سایر اپلیکیشن‌های ویندوز (برای مثال بازی‌های آنلاین) تاثیری نخواهد داشت.

۳. در صورتی که فراموش کنید قبل از بستن برنامه یا خاموش کردن سیستم، VPN را خاموش کنید، برای اتصال به اینترنت به مشکل بر خواهید خورد. برای رفع آن، بار دیگر برنامه را اجرا کنید و حالت VPN که انتخاب کرده بودید را غیر فعال کنید.

۴. در صورتی که تنظیمات برنامه را دستکاری کردید و برنامه دیگر کار نکرد، پوشه NekoRay را کامل پاک کنید و از ابتدا آموزش را دنبال کنید.

۵. در صورتی که تمایل به تست سرعت و تاخیر VPN داشتید، می‌توانید روی گوشه پایین سمت چپ برنامه کلیک کنید (جایی که نام پروفایل انتخاب شده نوشته شده است) تا تاخیر به میلی ثانیه به شما نمایش داده شود.
