---
title: OpenConnect
type: docs
---

# OpenConnect

## How to install and use OpenConnect client on Windows devices:

1. Go to the OpenConnect client’s GitLab page by clicking the button below. Click on the link that is marked in the screenshot below. Installation is straightforward and very easy.

{{< button href="https://gitlab.com/openconnect/openconnect-gui/-/releases" >}}OpenConnect GitLab Page{{< /button >}}

![OpenConnect01](/img/windows-oc-01.png)

2. It should prompt you to install a distributable and a network adapter, give it permission to do so.

3. Open the client, click on the gear icon in the middle, then click on **“New profile (Advanced)”**

![OpenConnect02](/img/windows-oc-02.png)

4. Download the three files that are provided below:

	1. **User Certificate:** [Click to download User Certificate](/{{item}}-User-Certificate.pem)

	2. **User Key:** [Click to download User Key](/{{item}}-User-Key.pem)

5. Do the following in the given order:

	1. Enter a **name** (any name you want)

	2. Copy the following and paste it in the server address field: {{ ansible_all_ipv4_addresses[0] }}:{{ ocserv_port | default(4430) }}

	4. Click on the button next to the **“User Certificated”** field, and choose the User Certificate file that you downloaded from **step 4**.

	5. Click on the button next to the **“User Key”** field, and choose the User Key  file that you downloaded from **step 4**.

![OpenConnect03](/img/windows-oc-03.png)
![OpenConnect04](/img/windows-oc-04.png)

6. Click save, then click on the big button in the middle saying **"connect"**.

![OpenConnect05](/img/windows-oc-05.png)

7. You'll be prompted to confirm the information regarding the destination address. Click on **“Accurate information”**.

![OpenConnect06](/img/windows-oc-06.png)

8. To disconnect the VPN, simply click on the **Disconnect** button in the main interface.

![OpenConnect07](/img/windows-oc-08.png)

And that's it!

## Windows Client Important Notes:

1. It will only prompt you to enter your user and password once. If you enter the correct user and password, you won’t need to enter your credentials the next time. However, should you wish to change your username and password, follow the steps below:

	1. Click on the gear icon next to the server bar.

	2. Click on “Edit selected profile”

	3. On the third field you’ll see your username. Remove it like an ordinary text.

	4. Click Save. It should prompt you to enter your username and password again.

2. You can also turn the VPN on by using the system tray icon at the bottom right corner. Simply right click on the electric plug icon (that’s the OpenConnect’s system tray icon) go to “Connect to…” and select your VPN profile. That way you can turn the VPN on while keeping it minimized. It can also be turned off the same way;  after right clicking on the tray icon, simply click on “Disconnect”.

3. It is highly recommended to avoid using the “Start minimized” feature of the client. There’s a glitch in the app that causes the app GUI to no longer appear if that option is checked (it’s related to your PC’s graphic settings). Fixing this glitch requires going through the windows registries and it can be risky for the average user.