---
title: AnyConnect
type: docs
---

# انی کانکت (AnyConnect)

۱. برای استفاده از پروتکل AnyConnect، نیاز است که اپلیکیشن **Cisco AnyConnect** از گوگل پلی استور دانلود شود. روی دکمه زیر کلیک کنید تا به صفحه گوگل پلی استور اپلیکیشن بروید.

{{ '{{<' }} button href="https://play.google.com/store/apps/details?id=com.cisco.anyconnect.vpn.android.avf&hl=en&gl=US" {{ '>}}' }}**دانلود اپلیکیشن Cisco AnyConnect از گوگل پلی استور**{{ '{{<' }} /button {{ '>}}' }}

۲. برای دانلود فایل Certificate روی دکمه زیر کلیک کنید:

{{ '{{<' }} button href="/{{item}}/{{item}}-Certificate-Android.p12" {{ '>}}' }}**دانلود فایل Certificate با پسوند .P12**{{ '{{<' }} /button {{ '>}}' }}

۳. اپلیکیشن را اجرا کنید.

۴. روی **OK** کلیک کنید تا پیام اولیه اپلیکیشن بسته شود.

![AnyConnect-01](/images/anyconnect-01.png)

۵. دسترسی‌های مورد نیاز را به اپلیکیشن بدهید. (در این مورد، تنها دسترسی به **اعلان‌ها** نیاز است.)

![AnyConnect-02](/images/anyconnect-02.png)

۶. در بالا سمت راست صفحه، روی سه نقطه بزنید و سپس **Settings** را انتخاب کنید.

![AnyConnect-03](/images/anyconnect-03.png)

۷. تیک گزینه دوم که می‌گوید **Block Untrusted Servers** را حذف کنید.

![AnyConnect-04](/images/anyconnect-04.png)

۸. روی علامت فلش در بالا سمت راست صفحه بزنید تا به منوی اصلی برنامه برگردید.

۹. در وسط صفحه، روی گزینه **Connections** بزنید.

![AnyConnect-05](/images/anyconnect-05.png)

۱۰. در پایین صفحه، روی علامت مثبت بزنید.

![AnyConnect-06](/images/anyconnect-06.png)

۱۱. در صفحه بعدی، موارد زیر را طبق عکس به ترتیب انجام دهید:

۱. اسم دلخواه خودتان

۲. آدرس سرور و پورت رو به رو: **{{ ansible_all_ipv4_addresses[0] }}:{{ ocserv_port | default(4430) }}**

۳. سپس، روی گزینه **Advanced Preferences** بزنید.

![AnyConnect-07](/images/anyconnect-07.png)

۱۲. روی گزینه اول که **Certificate** نام دارد بزنید.

![AnyConnect-08](/images/anyconnect-08.png)

۱۳. روی گزینه **Import** در پایین صفحه بزنید.

![AnyConnect-09](/images/anyconnect-09.png)

۱۴. روی گزینه **File System** بزنید. پس از آن، اپلیکیشن مدیریت فایل‌های گوشی شما باز می‌شود.

![AnyConnect-10](/images/anyconnect-10.png)

۱۵. فایلی که در قدم دوم دانلود کردید (با پسوند .p12) را انتخاب کنید.

![AnyConnect-11](/images/anyconnect-11.png)

۱۶. پس از انتخاب کردن فایل، از شما می‌خواهد که پسورد وارد کنید. عبارت رو به رو را وارد کنید: **{{ item }}**

![AnyConnect-12](/images/anyconnect-12.png)

۱۷. پس از وارد کردن فایل Certificate، آن را انتخاب کنید.

![AnyConnect-13](/images/anyconnect-13.png)

۱۸. در پایین صفحه، روی گزینه **Done** بزنید و پس از آن بار دیگر **Done** را بزنید.

![AnyConnect-14](/images/anyconnect-14.png)
![AnyConnect-15](/images/anyconnect-15.png)

۱۹. روی علامت فلش در بالا سمت چپ صفحه بزنید.

![AnyConnect-16](/images/anyconnect-16.png)

۲۰. در صفحه اصلی، روی **دکمه روشن کردن** بزنید.

![AnyConnect-17](/images/anyconnect-18.png)

۲۱. گزینه **Continue** را انتخاب کنید.

![AnyConnect-18](/images/anyconnect-17.png)

۲۲. تمام! حال به VPN وصل شده‌اید. می‌توانید با استفاده از سایت‌های بررسی IP، لوکیشن خود را بررسی و از اتصال به VPN اطمینان حاصل کنید.

![AnyConnect-19](/images/anyconnect-19.png)
