---
title: SecureShell (SSH)
type: docs
weight: 1
---

# پروتکل SecureShell (SSH)

در این آموزش یاد خواهید گرفت که چگونه از نِکوباکس برای به کارگیری پروتکل SSH استفاده کنید.

اپلیکیشن نِکوباکس از پروتکل‌های زیادی پشتیبانی می‌کند، و  از این اپلیکیشن برای اتصال به پروتکل SSH استفاده خواهیم کرد.

**توجه داشته باشید که این پروتکل تنها در صورتی ارائه می‌شود که سایر پروتکل و متودها برای شما قابل استفاده نباشد.**

## نحوه نصب و استفاده از نِکوباکس برای استفاده از پروتکل SSH:

۱. روی دکمه زیر کلیک کنید تا به صفحه گیت‌هاب نِکوباکس بروید. فایل APK که با گوشی شما سازگار است را دانلود کنید. (در اکثر موارد، نسخه **arm64-v8a** با گوشی‌تان سازگار است، مگر این که دستگاه شما قدیمی باشد که در آن صورت نسخه **armeabi-v7a** را نصب کنید.)

{{ '{{<' }} button href="https://github.com/MatsuriDayo/NekoBoxForAndroid/releases/tag/1.2.9" {{ '>}}' }}**صفحه گیت‌هاب نِکوباکس**{{ '{{<' }} /button {{ '>}}' }}

![Nekobox-01](/images/nekobox-12.png)

{{ '{{<' }} hint danger {{ '>}}' }}
**اخطار**
اپلیکیشن نِکوباکس که در گوگل پلی استور است توسط خود سازنده‌های اصلی نِکوباکس ارائه نشده است. **از استفاده از آن نسخه خودداری کنید.**
{{ '{{<' }} /hint {{ '>}}' }}

۲. اپلیکیشن را نصب و اجرا کنید.

۳. در صورت لزوم، دسترسی‌های مورد نیاز را به اپلیکیشن بدهید (دسترسی به **اعلان‌ها**)

![Nekobox-02](/images/nekobox-01.png)

۴. در پیام بعدی، روی **YES** کلیک کنید.

![Nekobox-03](/images/nekobox-02.png)

۵. روی دکمه زیر کلیک کنید و فایل تنظیمات نِکوباکس را دانلود کنید.

{{ '{{<' }} button href="/nekoboxsetting/Nekobox-Settings.json" {{ '>}}' }}**دانلود تنظیمات نِکوباکس**{{ '{{<' }} /button {{ '>}}' }}

۶. در بالا سمت چپ، روی دکمه سه خط بزنید تا پنل **تنظیمات** باز شود. سپس، روی **Tools** بزنید.

![Nekobox-04](/images/nekobox-03.png)

۷. به قسمت **Backup** بروید و گزینه **Import from file** را انتخاب کنید.

![Nekobox-05](/images/nekobox-04.png)

۸. فایلی که در قدم **شماره 5** دانلود کردید را انتخاب کنید و سپس روی **IMPORT** بزنید.

![Nekobox-06](/images/nekobox-05.png)
![Nekobox-07](/images/nekobox-06.png)

۹. اگر قدم قبلی را **درست** انجام داده باشید، رنگ محیط کاربری به **آبی** تغییر می‌کند و به صفحه اصلی اپلیکیشن برمی‌گردید.

۱۰. در صفحه اصلی، روی گزینه مثبت در بالای صفحه بزنید و سپس **Manual** را انتخاب کنید. پس از آن، **SSH** را انتخاب کنید.

![NekoSSH-08](/images/nekobox-07.png)
![NekoSSH-09](/images/nekossh-01.png)
![NekoSSH-10](/images/nekossh-02.png)

۱۱. در صفحه‌ای که باز می‌شود، روی گزینه **Authentication Type** بزنید و آن را به **Public Key** تغییر دهید.

![NekoSSH-11](/images/nekossh-03.png)
![NekoSSH-12](/images/nekossh-04.png)

۱۲. حال موارد زیر را مطابق عکس در جاهای مربوطه کپی کنید.

        1. نام دلخواه خودتان

        2. {{ ansible_all_ipv4_addresses[0] }}

        3. **sshvpn**

        4. محتوای باکس زیر را به طور کامل کپی کنید و در قسمت **Private key** وارد کنید.

{{ '{{<' }} hint info {{ '>}}' }}
{{ users[item].sshvpn }}
{{ '{{<' }} /hint {{ '>}}' }}

![NekoSSH-13](/images/nekossh-05.png)

۱۳. پس از وارد کردن موارد قبلی، روی گزینه تیک در بالا سمت چپ بزنید. (نکته، اگر که لینک با موفقیت وارد برنامه شد ولی در صفحه اصلی برنامه چیزی ظاهر نشد، برنامه را ببندید و دوباره باز کنید تا در لیست ظاهر شود.)

۱۴. روی VPN که به تازگی ایجاد شد بزنید تا انتخاب شود. اگر چندین پروفایل در لیست دارید، آن که در کنارش نوار رنگی است انتخاب شده است.

۱۵. روی **دکمه** پایین صفحه بزنید تا به VPN وصل شوید.

![NekoSSH-14](/images/nekossh-06.png)

۱۶. برای بررسی سرعت و تاخیر، در پایین صفحه روی نوشته **Connected, Tap to check connection** بزنید تا میزان تاخیر به میلی ثانیه به شما نشان داده شود.

![NekoSSH-15](/images/nekobox-10.png)

۱۷. تمام! حال به VPN وصل شده‌اید. می‌توانید با استفاده از سایت‌های بررسی IP، لوکیشن خود را بررسی و از اتصال به VPN اطمینان حاصل کنید.
