server "default" {
        listen on * port 80
        location "/" {
                block drop
        }
				location "/image/*"
							root "/reactance/images"
							request strip 1
				}
			
{% for uname in all_users_list %}
        location "/{{ uname }}/*" {
                root "/reactance/{{ uname }}"
                request rewrite "/index.html"
                authenticate with "/reactance/{{ uname }}/.htpasswd"
        }
{% endfor %}
}
