server "default" {
        listen on * port 80
        location "/" {
                block drop
        }
	location "/images/*" {
		root "/reactance/images"
		request strip 1
	}
			
{% for uname in user_pass_dict.keys() %}
        location "/{{ uname }}/*" {
                root "/reactance/{{ uname }}"
		request strip 1
		directory auto index
                authenticate with "/reactance/{{ uname }}/.htpasswd"
        }
{% endfor %}
}
