#!/bin/ksh
# $OpenBSD: ocserv
daemon="/usr/local/sbin/ocserv"
daemon_flags="-c /var/vpns/ocserv/ocserv.conf"

. /etc/rc.d/rc.subr

pexp="ocserv: ocserv-main"

rc_pre() {
	/usr/bin/install -d -o _ocserv /var/vpns/ocserv/run/
}

rc_cmd $1
