#	$OpenBSD: syslog.conf,v 1.20 2016/12/27 13:38:14 jca Exp $

*.notice;auth,authpriv,cron,ftp,kern,lpr,mail,user.none	/var/log/messages
kern.debug;syslog,user.info				/var/log/messages
auth.info						/var/log/authlog
authpriv.debug						/var/log/secure
cron.info						/var/cron/log
{% if inventory_hostname in (groups['ocserv']|default([])) + (groups['all_vpns']|default([])) %}
!!ocserv
daemon.*                        /var/log/ocserv.log
!*
{% endif %}
{% if inventory_hostname in (groups['hysteria']|default([])) + (groups['all_vpns']|default([])) %}
!!hysteria
daemon.*                        /var/log/hysteria.log
!*
{% endif %}
daemon.info						/var/log/daemon
ftp.info						/var/log/xferlog
lpr.debug						/var/log/lpd-errs
mail.info						/var/log/maillog
